<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChatESG</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">

    <!-- External CSS -->
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css">

    <!-- SimpleLightbox plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/my_bulma.css">
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">ChatESG</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">關於</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">技術</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">幫助</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">聯絡我們</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">您首選的 ESG 報告生成平台</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">利用 AI 技術，幫助您輕鬆生成精確的 ESG 報告！只需輸入關鍵數據，
                        系統便會自動生成報告書，助您輕鬆應對合規要求並提升企業形象！點擊下方按鈕快速獲取量身定制的ESG報告書！
                    </p>
                    <a class="btn btn-primary btn-xl" href="#question">立即開始！</a>
                </div>
            </div>
        </div>
    </header>



    <!-- 問題-->
    <section class="page-section" id="question" style="background-color: lightslategray; padding-bottom: 5%;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">讓我們先了解你！</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75" style="font-size: 150%; margin-bottom: 0%;">你想要製作哪一個產業類別的ESG報告書?</p>

                    <!-- button -->
                    <div class="btn-group" style="margin: 3%;">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            選擇你的產業類別
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#about" id="industry-finance">金融業</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-education">教育</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-food">食品工業</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-electric">電器電纜</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-machinery">電器機械</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-biotech">生技醫療</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-textile">紡織纖維</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-chemical">化學工業</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-plastic">塑膠工業</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-cement">水泥工業</a></li>
                            <li><a class="dropdown-item" href="#about" id="industry-glass">玻璃陶瓷</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#" id="industry-general">通用</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- About-->
    <section class="page-section" id="about" style="background-color: lightslategray; display: none; padding-top: 5%;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">讓我們生成更符合您所需要的報告！</h2>
                    <hr class="divider divider-light" />

                    <!-- 輸入表單 -->
                    <div id="industry-form" style="display: none;">
                        <div id="form-fields">
                            <!-- 動態生成的表單字段將在這裡 -->
                        </div>
                        <button type="button" id="addData" class="btn btn-primary btn-sm mb-3 add-group btn-xl"
                            style="padding: 1% 5% 1% 5%;">添加新資料</button>
                    </div>
                    <br>
                    <a style="display: none; border-radius: 10rem; padding: 2.5% 6% 2.5% 6%; "
                        class="btn btn-primary btn-light" href="#contact" id="about_next">下一步！</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services" style="background-color: bisque; display: none;">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">技術</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Sturdy Themes</h3>
                        <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Up to Date</h3>
                        <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Ready to Publish</h3>
                        <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Made with Love</h3>
                        <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="contact" style="background-color: floralwhite; display: none;">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">輸入你想要製作的章節！</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">請詳細的輸入以下資訊</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <div id="form-groups">
                            <!-- 動態產生的表單群組將在這裡 -->
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-xl btn-success --bs-teal" id="addGroup">添加新组</button>
                            <button class="btn btn-primary btn-xl" id="my_submitButton" type="submit">提交</button>
                        </div>

                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">填寫完成！</div>
                                正字生成內容。
                                <br />
                                <!-- <a -->
                                <!-- href="https://">https://</a> -->
                            </div>
                        </div>
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        <!-- Submit Button-->
                        <!-- <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="my_submitButton"
                                type="submit">提交</button></div> -->
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">Copyright &copy; 2024 - NTCUST NLP Lab</div>
        </div>
    </footer>

    <!-- 測試p標籤 -->
    <p id="response"></p>

    <!-- Button trigger modal -->
    <button style="display: none;" id="wating_start-btn" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        開始等待
    </button>

    <!-- 等待 -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="justify-content: center;">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">AI生成中，請稍後...</h1>
                    <button style="display: none;" id="wating_cancel-btn" type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="csvPieChartModal" tabindex="-1" aria-labelledby="csvPieChartModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="csvPieChartModalLabel">圖表生成器</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe src="Chart.html" width="100%" height="100%" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>


    <!-- 外部庫 -->
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Bootstrap Forms JS -->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- 本地腳本 -->
    <!-- Core theme JS -->
    <script src="../static/scripts.js"></script>
    <!-- (優先)引入formHandling.js -->
    <!-- 包含所有表單處理的設置 -->
    <script src="../static/index_js/formHandling.js"></script>
    <!-- Custom prompt JS -->
    <script src="../static/index_js/prompt.js"></script>
    <!-- Custom communication JS -->
    <!-- 包含所有與伺服器溝通的設置 -->
    <script src="../static/index_js/communication.js"></script>
    <!-- Custom Get data_Tips JS -->
    <script src="../static/index_js/Get data_Tips.js"></script>
    <!-- Custom eventListeners JS -->
    <!-- 包含所有事件監聽器的設置 -->
    <script src="../static/index_js/eventListeners.js"></script>

    <script>
        // 這段程式用於初始化Bootstrap的Popover功能
        document.addEventListener('DOMContentLoaded', function () {
            // 當DOM內容加載完成後執行以下程式

            // 獲取所有帶有'data-bs-toggle="popover"'屬性的元素
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))

            // 對每個找到的元素初始化Popover
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                // 為每個元素創建一個新的Bootstrap Popover實例
                return new bootstrap.Popover(popoverTriggerEl)
            })
        });
    </script>

    <!-- 用來關閉Modal -->
    <script>
        window.addEventListener('message', function (event) {
            if (event.data.startsWith('closeModal')) {
                var modal = bootstrap.Modal.getInstance(document.getElementById('csvPieChartModal'));
                if (modal) {
                    modal.hide();
                    console.log("關閉");
                    // console.log(return_chartButtons);
                    // localStorage可能會有問題 時間差?
                    return_chartButtons.src = 'data:image/png;base64,' + event.data.split(',')[1];
                    autoSave();
                    // console.log(return_chartButtons.src);
                }
            }
        });
        // console.log(localStorage.getItem('chart-image'));

    </script>

</body>

</html>